-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: toko_rama_collection
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin`
--

DROP TABLE IF EXISTS `admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin` (
  `id_admin` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  PRIMARY KEY (`id_admin`),
  UNIQUE KEY `uq_admin_username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Akun Admin Penjualan ΓÇô hak akses input & kelola transaksi';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin`
--

LOCK TABLES `admin` WRITE;
/*!40000 ALTER TABLE `admin` DISABLE KEYS */;
INSERT INTO `admin` VALUES (1,'admin','$2b$12$L10AsooZ0/PZkLLVNj3pk.bgo.5JTjhNQXQdQhD/Mhhp/MHfVDvky');
/*!40000 ALTER TABLE `admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `data_barang`
--

DROP TABLE IF EXISTS `data_barang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `data_barang` (
  `kode_barang` varchar(20) NOT NULL,
  `nama_barang` varchar(45) NOT NULL,
  `jumlah_stok` int(10) unsigned NOT NULL DEFAULT 0,
  PRIMARY KEY (`kode_barang`),
  UNIQUE KEY `uq_kode_barang` (`kode_barang`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Master data barang kaligrafi ukiran kayu Toko Rama Collection';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `data_barang`
--

LOCK TABLES `data_barang` WRITE;
/*!40000 ALTER TABLE `data_barang` DISABLE KEYS */;
INSERT INTO `data_barang` VALUES ('KLG-001','Kaligrafi Allah - Kayu Jati Ukir',15),('KLG-002','Kaligrafi Muhammad - Kayu Mahoni Ukir',10),('KLG-003','Ayat Kursi - Bingkai Oval Kayu',12),('KLG-004','Bismillah - Kayu Sengon Relief',18),('KLG-005','Asmaul Husna - Panel Kayu Jati',5),('KLG-006','Surah Al-Ikhlas - Kayu Mahoni Ukir',7),('KLG-007','Lafadz Alhamdulillah - Kayu Pinus',12),('KLG-008','Kaligrafi Subhanallah - Kayu Trembesi',12),('KLG-009','Lafadz Masya Allah - Relief Kayu Jati',6),('KLG-010','Shalawat Nabi - Kayu Mahoni Ukir',11),('KLG-011','ukir kayu nama ',15);
/*!40000 ALTER TABLE `data_barang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hasil_topsis`
--

DROP TABLE IF EXISTS `hasil_topsis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hasil_topsis` (
  `id_topsis` int(11) NOT NULL AUTO_INCREMENT,
  `kode_barang` varchar(20) NOT NULL,
  `id_karyawan` int(11) NOT NULL,
  `nama_barang` varchar(45) NOT NULL,
  `nilai_c1` double NOT NULL DEFAULT 0,
  `nilai_c2` double NOT NULL DEFAULT 0,
  `nilai_c3` double NOT NULL DEFAULT 0,
  `nilai_c4` double NOT NULL DEFAULT 0,
  `nilai_ci` double NOT NULL DEFAULT 0,
  `ranking` int(10) unsigned NOT NULL DEFAULT 0,
  `periode` varchar(20) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_topsis`),
  KEY `fk_topsis_barang` (`kode_barang`),
  KEY `fk_topsis_karyawan` (`id_karyawan`),
  KEY `idx_topsis_periode` (`periode`),
  KEY `idx_topsis_ranking` (`periode`,`ranking`),
  CONSTRAINT `fk_topsis_barang` FOREIGN KEY (`kode_barang`) REFERENCES `data_barang` (`kode_barang`) ON UPDATE CASCADE,
  CONSTRAINT `fk_topsis_karyawan` FOREIGN KEY (`id_karyawan`) REFERENCES `karyawan` (`id_karyawan`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Hasil kalkulasi TOPSIS; ranking prioritas pengadaan stok per periode';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hasil_topsis`
--

LOCK TABLES `hasil_topsis` WRITE;
/*!40000 ALTER TABLE `hasil_topsis` DISABLE KEYS */;
/*!40000 ALTER TABLE `hasil_topsis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `karyawan`
--

DROP TABLE IF EXISTS `karyawan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `karyawan` (
  `id_karyawan` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  PRIMARY KEY (`id_karyawan`),
  UNIQUE KEY `uq_karyawan_username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Akun Karyawan Gudang ΓÇô hak akses SES, TOPSIS, stok';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `karyawan`
--

LOCK TABLES `karyawan` WRITE;
/*!40000 ALTER TABLE `karyawan` DISABLE KEYS */;
INSERT INTO `karyawan` VALUES (1,'karyawan','$2b$12$G1MY6Mjnkdb2qbnfWCKXwesCH8dvgdGP.s0hWizuZ96phoEQRxRTu');
/*!40000 ALTER TABLE `karyawan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `owner`
--

DROP TABLE IF EXISTS `owner`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `owner` (
  `id_owner` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  PRIMARY KEY (`id_owner`),
  UNIQUE KEY `uq_owner_username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Akun Owner / Pemilik Toko ΓÇô read-only laporan';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `owner`
--

LOCK TABLES `owner` WRITE;
/*!40000 ALTER TABLE `owner` DISABLE KEYS */;
INSERT INTO `owner` VALUES (1,'owner','$2b$12$FPTSZ1nxN3ulZLHMhBxR3eHmQHa1F1sZKUeODZIpNqasAU.gwo4/e');
/*!40000 ALTER TABLE `owner` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengaturan_bobot`
--

DROP TABLE IF EXISTS `pengaturan_bobot`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pengaturan_bobot` (
  `id_bobot` int(11) NOT NULL AUTO_INCREMENT,
  `bobot_c1` double NOT NULL DEFAULT 0.35 COMMENT 'Bobot C1 ΓÇô Prediksi SES (Benefit)',
  `bobot_c2` double NOT NULL DEFAULT 0.3 COMMENT 'Bobot C2 ΓÇô Rata-rata Penjualan (Benefit)',
  `bobot_c3` double NOT NULL DEFAULT 0.2 COMMENT 'Bobot C3 ΓÇô MAD (Cost)',
  `bobot_c4` double NOT NULL DEFAULT 0.15 COMMENT 'Bobot C4 ΓÇô MSE (Cost)',
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `updated_by` varchar(50) NOT NULL DEFAULT 'system',
  PRIMARY KEY (`id_bobot`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Konfigurasi bobot kriteria TOPSIS; hanya Administrator yang boleh mengubah';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengaturan_bobot`
--

LOCK TABLES `pengaturan_bobot` WRITE;
/*!40000 ALTER TABLE `pengaturan_bobot` DISABLE KEYS */;
INSERT INTO `pengaturan_bobot` VALUES (1,0.35,0.3,0.2,0.15,'2026-05-08 08:21:29','system');
/*!40000 ALTER TABLE `pengaturan_bobot` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `peramalan`
--

DROP TABLE IF EXISTS `peramalan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `peramalan` (
  `id_peramalan` int(11) NOT NULL AUTO_INCREMENT,
  `kode_barang` varchar(20) NOT NULL,
  `bulan` varchar(7) NOT NULL,
  `aktual` double NOT NULL DEFAULT 0,
  `forecast` double NOT NULL DEFAULT 0,
  `mad` double NOT NULL DEFAULT 0,
  `mse` double NOT NULL DEFAULT 0,
  `alpha` double NOT NULL DEFAULT 0.9,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_peramalan`),
  KEY `idx_peramalan_barang_bulan` (`kode_barang`,`bulan`),
  CONSTRAINT `fk_peramalan_barang` FOREIGN KEY (`kode_barang`) REFERENCES `data_barang` (`kode_barang`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Hasil SES per item per bulan; sumber input kriteria C1, C3, C4 untuk TOPSIS';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `peramalan`
--

LOCK TABLES `peramalan` WRITE;
/*!40000 ALTER TABLE `peramalan` DISABLE KEYS */;
INSERT INTO `peramalan` VALUES (5,'KLG-002','2026-05',0,2,0,0,0.3,'2026-05-15 07:35:22'),(6,'KLG-003','2026-05',0,2,0,0,0.3,'2026-05-15 07:35:22'),(7,'KLG-004','2026-05',0,2,0,0,0.3,'2026-05-15 07:35:22'),(8,'KLG-007','2026-05',0,6,0,0,0.3,'2026-05-15 07:35:22'),(9,'KLG-011','2026-05',0,5,0,0,0.3,'2026-05-15 07:45:04'),(10,'KLG-009','2026-05',0,4,0,0,0.3,'2026-05-16 04:28:06');
/*!40000 ALTER TABLE `peramalan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transaksi_penjualan`
--

DROP TABLE IF EXISTS `transaksi_penjualan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transaksi_penjualan` (
  `id_transaksi` int(11) NOT NULL AUTO_INCREMENT,
  `id_admin` int(11) NOT NULL,
  `kode_barang` varchar(20) NOT NULL,
  `nama_barang` varchar(45) NOT NULL,
  `jumlah_terjual` int(10) unsigned NOT NULL,
  `tanggal_penjualan` date NOT NULL,
  PRIMARY KEY (`id_transaksi`),
  KEY `fk_transaksi_admin` (`id_admin`),
  KEY `idx_transaksi_periode` (`kode_barang`,`tanggal_penjualan`),
  CONSTRAINT `fk_transaksi_admin` FOREIGN KEY (`id_admin`) REFERENCES `admin` (`id_admin`) ON UPDATE CASCADE,
  CONSTRAINT `fk_transaksi_barang` FOREIGN KEY (`kode_barang`) REFERENCES `data_barang` (`kode_barang`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Transaksi penjualan harian; sumber data input kalkulasi SES';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transaksi_penjualan`
--

LOCK TABLES `transaksi_penjualan` WRITE;
/*!40000 ALTER TABLE `transaksi_penjualan` DISABLE KEYS */;
/*!40000 ALTER TABLE `transaksi_penjualan` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-16 13:18:26
